.book {
text-align: center;

}
.book{
     background-image: url('../../assets/imgs/mlab.jpg');
    
    }
    
    
    
    
    
    h2{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
         color: green;
        font-family: 'Courier New', Courier, monospace;
    }
    
    
    .item{
        background-color: transparent;
    }
    
    
    .style-content{
        background-color: rgb(175, 182, 100);
    
    }
    