.design {


 background-image: url("../../assets/imgs/mlab.jpg");
 background-repeat: no-repeat;
 background-size: 30cm;

text-align: center;

}


h2{
    text-align: center;
    color: green;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}


h1{
    text-align: center;
    color: green;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}



// .css{
//     color:green;
// }


 .alertcss{

     button{
         color: green!important;
     }
     .alert-wrapper{
        background:rgb(109, 96, 96);
    }
.alert-wrapper{
    color :black;
}
    
    


 }
